@use "./breakpoints.scss" as breakpoints;

.position {
    position: sticky;
    top: 0;
}

@media (max-width: breakpoints.$s) {
    .position {
        top: auto;
        position: fixed;
        bottom: var(--static-space-24);
    }
}